{% assign page = pages.homepage %}

{% section 'hero' %}
<Test></Test>
<div class="container">
  {{ page.content }}
  <Test></Test>
</div>

{% include 'left-img-section' %}
{% include 'right-img-section' %}

<script id="test-data" type="application/json">
  {
    "id": "testID",
    "name": "test"
  }
</script>
<script id="test-data-2" type="application/json">
  {
    "shopName": {{ shop.name | json }}
  }
</script>
